*{
    box-sizing: border-box;
    margin: 0 auto;
}

body {
    font-family: 'Raleway', sans-serif;
}

a{
    text-decoration: none;
}

h1{
    font-size: 48px;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 16px;
    font-size: 18px;
}



.banner{
    background: url(../img/jana.jpg);
    background-size: cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.subtitulo{
    margin-bottom: 36px;
}

.botao{
    background-color: rgb(255, 182, 231);
    color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 30px;
    margin: 50px;


  
}

.sobre {
    margin: 20px;
}
.sobre-flex{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    line-height: 1.5em;
    margin-left: 50px;
}

.sobre-descricao {
    width: 40%;
    
}

.sobre-descricao p{
    margin-bottom: 10px ;
    margin-top: 15px;
}

.sobre-habilidades{
    width: 30%;
    color: rgb(143, 143, 143);
}

.titulo-sobre{
    margin-bottom: 20px;
    text-align:start;
    color: #646363;

}

.botao-sobre{
    background-color: white;
    border: rgb(255, 182, 231) solid 3px;
    color:rgb(255, 182, 231);
    padding: 15px;
    border-radius: 30px;  
}

.redes {
    display: flex;
    justify-content: center;
    margin-top: 62px;
   
}

.redes-links {
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffb6d8;
    width: 16%;
    height: 180px;
    margin: 16px;
}

.redes-links__img {
    margin-bottom: 10px;
}

.redes-links__titulo {
    margin-bottom: 16px;

